<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Gigspace!</title>
</head>
<body>
    <div id="main_nav">
        <nav>
            <a href="#">Home</a>
            |
            <a href="#">My Events</a>
            |
            <a href="#">Create Event</a>
            |
            <a href="#">Logout</a>
        </nav>
    </div>
    <h1>Add a new gig!</h1>
    <form action="#" method="post">
        <label for="" name="">Gig Name: </label>
        <input type="text">
        <label for="" name="">Gig Location: </label>
        <input type="text">
        <label for="" name="">Gig Date: </label>
        <input type="date">
        <label for="" name="">Gig Description: </label>
        <input type="textarea">
        <input type="submit" value="Create gig!">
    </form>
</body>
</html>