<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Gigspace</title>
</head>
<body>
    <h1>Welcome to Gigspace</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
    <div id=wrapper>
        <h1>All gigs!</h1>
        <div id="login">
            <h2>Login</h2>
            <form action="/login" method="post">
                <label for="email">Email: </label>
                <input type="email" name="email">
                <br>
                <label for="pw">Password: </label>
                <input type="password" name="password">
                <br>
                <br>
                <input type="submit" value="Login!">
            </form>
        </div>
        <div id="register">
            <h2>Register</h2>
            <form action="/users/create" method="post" id="reg_form">
                <label for="name">Name: </label>
                <input type="text" name="name">
                <br>
                <label for="email">Email: </label>
                <input type="email" name="email">
                <br>
                <label for="password">Password: </label>
                <input type="password" name="pw">
                <br>
                <label for="confirmPw">Confirm Password: </label>
                <input type="password" name="confirm_pw">
                <br>
                <br>
                <input type="submit" value="Register!">
            </form>
        </div>
    </div>
</body>
</html>