<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Gigspace</title>
</head>
<body>
    <div id="main_nav">
        <nav>
            <a href="#">Home</a>
            |
            <a href="#">My Events</a>
            |
            <a href="#">Create Event</a>
            |
            <a href="#">Logout</a>
        </nav>
    </div>
    <div id="events_table">
        <table>
            <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Location</th>
                    <th>Created By</th>
                    <th>Date/Time</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for gig in gigs %}
            <tr>
                <td>{{gig['name']}}</td>
                <td>{{gig['location']}}</td>
                <td>{{gig['date']}}</td>
                <td>{{gig['description']}}</td>
                <td>
                    <button href="#">RSVP</button>
                    |
                    <button href="#">Edit</button>
                    | 
                    <button href="#">Delete</button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>