<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Gigspace</title>
</head>
<body>
    <div id="main_nav">
        <nav>
            <a href="/gigs">Home</a>
            |
            <a href="/users/{{user['id']}}">My Events</a>
            |
            <a href="/gigs/new">Create Event</a>
            |
            <a href="/logout">Logout</a>
        </nav>
    </div>
    <h1>Details about {{gig['name']}} </h1>
    <div id="event_details">
        <p>Location: {{gig['location']}}</p>
        <p>Event Date: {{gig['date']}}</p>
        <a href="/gigs/{{gig['id']}}/rsvp">RSVP</a>
        |
        <a href="/gigs/{{gig['id']}}/un_rsvp">Un-RSVP</a>
        |
        <a href="/gigs/{{gig['id']}}/edit">Edit</a>
        | 
        <a href="/gigs/{{gig['id']}}/delete">Delete</a>
    </div>
    <h3>Attendees</h3>
    {% for user in attendees %}
        <p>{{user.name}}</p>
    {% endfor %}
</body>
</html>