<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Gigspace</title>
</head>
<body>
    <div id="main_nav">
        <nav>
            <a href="/gigs">Home</a>
            |
            <a href="/users/{{user['id']}}">My Events</a>
            |
            <a href="/gigs/new">Create Event</a>
            |
            <a href="/logout">Logout</a>
        </nav>
    </div>
    <h1>All gigs!</h1>
    <div id="wrapper">
        <table>
            <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Location</th>
                    <th>Date/Time</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for gig in gigs %}
            <tr>
                <td><a href="/gigs/{{gig['id']}}">{{gig['name']}}</a></td>
                <td>{{gig['location']}}</td>
                <td>{{gig['date']}}</td>
                <td>
                    <a href="#">RSVP</a>
                    |
                    <a href="/gigs/{{gig['id']}}/edit">Edit</a>
                    | 
                    <a href="/gigs/{{gig['id']}}/delete">Delete</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>